{% extends 'admin/admin_base.html' %}
{% block admincontent %}
    <!-- Main Content -->
                <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
                    <h1 class="my-4">Members</h1>
                    
                   <table class="table">
                        <thead>
                            <tr>
                                <td>S/N</td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Username</td>
                                <td>Email</td>
                                <td>Date Joined</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in user %}
                            <tr>
                                <td> {{ loop.index }} </td>
                                <td> {{ u.member_firstname }} </td>
                                <td> {{ u.member_lastname }} </td>
                                <td> {{ u.member_username }} </td>
                                <td> {{ u.member_email }} </td>
                                <td> {{ u.member_join_date }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                   </table>
                </div>
{% endblock %}