<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/ico" href="/static/images/favicon-32x32.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/fa/css/all.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>Admin RateFlix</title>
</head>
<body>
    <div class="container">
         <div class="container-fluid">
             <!--Navbar-->
            <div class="row">
                <div class="col-md-12 p-0">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand text-primary" href="#">RateFlix</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">Movies</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">TV Shows</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="#">Awards & Events</a>
                                    </li>
                                </ul>
                                
                                <div class="d-flex">
                                    {% if session.get('admin_id') != None %}
                                    <div class="btn-group me-2">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            {{ admin_session.admin_username  }}
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <a href="/admin/logout/"><li><button class="dropdown-item" type="button">Logout</button></li></a>
                                        </ul>
                                    </div>
                                    {% endif %}
                                    

                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <!-- The sidebar -->
                <div class="col-md-3 col-lg-2 bg-light sidebar">
                    <div class="d-flex flex-column align-items-start p-3">
                        <h4 class="text-center mb-4">Admin Dashboard</h4>
                        <div class="nav flex-column">
                            <!-- <a class="nav-link active" href="#">
                                <i class="fa-solid fa-home"></i> Dashboard
                            </a> -->
                            <a class="nav-link" href="/admin/">
                                <i class="fa-solid fa-users"></i> Members
                            </a>
                            <a class="nav-link" href="/admin/producers/">
                                <i class="fa-solid fa-building"></i> Producers
                            </a>
                            <a class="nav-link" href="/admin/movies/">
                                <i class="fa-solid fa-film"></i> Movies
                            </a>
                            <a class="nav-link" href="/admin/genres/">
                                <i class="fa-solid fa-tags"></i> Genres
                            </a>
                            <!-- <a class="nav-link" href="#ratings">
                                <i class="fa-solid fa-star"></i> Ratings
                            </a> -->
                            <!-- <a class="nav-link" href="#reviews">
                                <i class="fa-solid fa-comment"></i> Reviews
                            </a> -->
                            <a class="nav-link" href="/admin/actors/">
                                <i class="fa-solid fa-theater-masks"></i> Actors
                            </a>
                        </div>
                    </div>
                </div>

                {% block admincontent %}

                {% endblock %}
            </div>
        </div>
    </div>
       
        
    <script src="/static/jquery.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/bootstrap/js/bootstrap.bundle.js" type="text/javascript"></script>
     {% block adminscript %}

     {% endblock %}
</body>
</html>