{% extends 'admin/admin_base.html' %}
{% block admincontent %}
    <!-- Main Content -->
                <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
                    <h1 class="my-4">Members</h1>
                    
                   <table class="table">
                        <thead>
                            <tr>
                                <td>S/N</td>
                                <td>First Name</td>
                                <td>Last Name</td>
                                <td>Username</td>
                                <td>Email</td>
                                <td>Date Joined</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button class="btn btn-danger">Delete</button>
                                    <button class="btn btn-primary">Update</button>
                                </td>
                            </tr>
                        </tbody>
                   </table>
                </div>
{% endblock %}