{% extends 'admin/admin_base.html' %}
{% block admincontent %}
    <!-- Main Content -->
                <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
                    <h1 class="my-4">Movies</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert alert-success"> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <a  href="/admin/addmovie/" class="btn btn-primary">Add Movie</a>
                   <table class="table">
                        <thead>
                            <tr>
                                <td>S/N</td>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Release Year</td>
                                <td>Actors</td>
                                <td>Genres</td>
                                <td>Producer</td>
                                <td>Studio</td>
                                <td>Trailer</td>
                                <td>Poster</td>
                                <td>Status</td>
                                <td>Activity</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if movies %}
                                {% for movie in movies %}
                            <tr>
                                <td> {{ loop.index }} </td>
                                <td>{{ movie.movie_title }}</td>
                                <td>{{ movie.movie_description[:20] }}...</td>
                                <td>{{ movie.movie_release_date.strftime('%Y') }}</td>
                                <td> <a href="/admin/movie/actors/{{ movie.movie_id }}/" >{{ movie.movie_actors|count }}</a> </td>
                                <td><a href="/admin/movie/genre/{{ movie.movie_id }}/" > {{ movie.genres|count }}</a></td>
                                <td> {{ movie.producer.producer_name }} </td>
                                <td> {{ movie.studio.studio_name }} </td>
                                <td>
                                    {% if movie.movie_trailer %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    {% if movie.movie_poster %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="btn btn-warning state" data-status="{{ movie.movie_id }}">{{ movie.movie_status }}</button>
                                </td>
                                <td>
                                    <a  href="/admin/movie/update/{{ movie.movie_id }}/" class="btn btn-primary">Update</a>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                                
                            </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                   </table>
                   
                </div>
{% endblock %}
{% block adminscript %} 
    <script>
      $(document).ready(function(){
        $('.state').click(function(){
            var curStatus = $(this).text()
            var movieid = $(this).data('status');
            var csrfToken = "{{ csrf_token() }}";

            $.ajax({
                url:'/admin/update_movie_status/',
                type:'POST',
                data: {status:curStatus,movieid:movieid,csrf_token: csrfToken},

                success: function(resp){
                    $(this).html(resp)
                },
                error: function(err){
                    console.log(err)
                }
        });
    });
      });
    </script>
{% endblock %}