{% extends 'admin/admin_base.html' %}
{% block admincontent %}
    <!-- Main Content -->
                <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
                    <h1 class="my-4">Movies</h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="alert alert-success"> {{ message }} </p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                   <table class="table d-inline">
                        <thead>
                            <tr>
                                <td>S/N</td>
                                <td>Title</td>
                                <td>Description</td>
                                <td>Release Date</td>
                                <td>Actors</td>
                                <td>Genres</td>
                                <td>Producer</td>
                                <td>Studio</td>
                                <td>Status</td>
                                <td>Activity</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% if movies %}
                                {% for movie in movies %}
                            <tr>
                                <td> {{ loop.index }} </td>
                                <td>{{ movie.movie_title }}</td>
                                <td>{{ movie.movie_description }}</td>
                                <td>{{ movie.movie_release_date }}</td>
                                <td> <a href="/admin/movie/actors/{{ movie.movie_id }}/" >{{ movie.movie_actors|count }}</a> </td>
                                <td><a href="/admin/movie/genre/{{ movie.movie_id }}/" > {{ movie.genres|count }}</a></td>
                                <td> {{ movie.producer.producer_name }} </td>
                                <td> {{ movie.studio.studio_name }} </td>
                                <td>
                                    {% if movie.movie_status == 'pending' %}
                                        <button class="btn btn-warning">Pending</button>
                                    {% elif movie.movie_status == 'approved' %}
                                        <button class="btn btn-success">Approved</button>
                                    {% endif %}
                                </td>
                                <td>
                                    <a  href="/admin/movie/update/{{ movie.movie_id }}/" class="btn btn-primary">Update</a>
                                    <button class="btn btn-danger">Delete</button>
                                </td>
                                
                            </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                   </table>
                   
                </div>
{% endblock %}