{% extends 'admin/admin_base.html' %}
{% block admincontent %}
    <div class="col-md-9 ms-sm-auto col-lg-10 px-4">
        <h1 class="my-4">{{ movie.movie_title }} Actors</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="alert alert-success"> {{ message }} </p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <a href="/admin/addactor/{{ movie.movie_id }}/" class="btn btn-primary" > Add Actor </a>
        <table class="table">
            <thead>
                <tr>
                    <td>S/N</td>
                    <td>Name</td>
                    <td>Activity</td> 
                </tr>
            </thead>
            <tbody>
                {% if actors %}
                    {% for movieactor in actors %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ movieactor.actor.actor_name }}</td>
                            <td> <a href="/admin/delactor/{{ movie.movie_id }}/{{ movieactor.actor_id }}" class="btn btn-danger" > Delete </a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3" class="alert alert-danger">No Actors</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
