{% extends 'base.html' %}
{% block content %}
        <!--Movie name-->
       <div class="row mt-4">
            <!-- Movie Details -->
           <div class="col-md-6">
              <h1 class="h3 sub-heading"> {{ movies.movie_title }} </h1>
              <div class="d-flex mb-2">
                  <p class="mb-1 me-3"><strong>Year:</strong> 2024</p>
                  <p class="mb-1 me-3"><strong>Rating:</strong> PG-13</p>
                  <p class="mb-1"><strong>Duration:</strong> 1h 39m</p>
              </div>
          </div>
          <!-- Ratings and Popularity -->
          <div class="col-md-6">
              <div class="d-flex flex-row justify-content-between">
                  <p class="mb-1"><strong>Ratflex Rating:</strong> 7/10 <i class="fa-solid fa-star"></i></p>
                  <p class="mb-1"><strong>Your Rating:</strong>
                      <i class="fa-solid fa-star myrate" id="submit_star_1" data-rating="1" ></i>
                      <i class="fa-solid fa-star myrate" id="submit_star_2" data-rating="2"></i>
                      <i class="fa-solid fa-star myrate" id="submit_star_3" data-rating="3"></i>
                      <i class="fa-solid fa-star myrate" id="submit_star_4" data-rating="4"></i>
                      <i class="fa-solid fa-star myrate" id="submit_star_5" data-rating="5"></i>
                      
                  </p>
                  <button class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
          </div>
        </div>

        <!--Movie Poster & trailer-->
        <div class="row">
            <div class="col-md-3 d-flex align-items-stretch">
              {% if movies.movie_poster == "" or movies.movie_poster == None %}
                <img src="/static/Images/quietplace.jpg" alt="A Quiet Place" class="img-fluid w-100 h-100" style="object-fit: cover;">
              {% else %}
                <img src="/static/uploads/poster/{{ movies.movie_poster }}" alt="A Quiet Place" class="img-fluid w-100 h-100" style="object-fit: cover;">
              {% endif %}
            </div>
            <div class="col-md-9 d-flex align-items-stretch">
              {% if movies.movie_trailer == "" or movies.movie_trailer == None %}
                <video controls poster="/static/Images/thumnail.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;">
                    <source src="/static/media/A Quiet Place- Day One - Official Trailer 2 (2024 Movie) - Lupita Nyong'o, Joseph Quinn.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                 <video controls poster="/static/uploads/thumbnails/{{movies.movie_trailer}}" class="img-fluid w-100 h-100" style="object-fit: cover;">
                    <source src="/static/uploads/trailers/{{movies.movie_trailer}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% endif %}
            </div>
            <div class="row mt-2">
                <div class="col-sm-6">
                  {% if genres %}
                    {% for movie_genre in genres %}
                      <button class="btn btn-outline-primary btn-sm rounded-pill">{{ movie_genre.genre.genre_name }}</button>
                    {% endfor %}
                  {% else %}
                    <button class="btn btn-outline-primary btn-sm rounded-pill">No Genre</button>
                  {% endif %}
                </div>
            </div>
        </div>

        <!--Movie info-->
        <div class="row mt-2">
            <div class="col-md-8">
                <p>{{ movies.movie_description }}</p>
                <hr>
                <p><strong>Director</strong> {{ movies.producer.producer_name }}</p>
                <hr>
                <p><strong>Writers</strong> Michael Sarnoski &nbsp;John Krasinski &nbsp; Bryan Woods</p>
            </div>

            <div class="col-md-4">
                <h4>Where to Watch</h4>
                <p>Still in theaters <i class="fa-solid fa-film"></i></p>
            </div>
        </div>

           <!--Cast heading-->
          <div class="row">
            <div class="col-md-6 mt-5">
                <h3 class="sub-heading">Cast</h3>
            </div>
        </div>

        <!--Cast-->
        <div class="row cast mb-4">
          {% if actors %}
            {% for movie_actor  in actors %}
            <div class="col-md-3">
              {% if movie_actor.actor.actor_photo == "" or movie_actor.actor.actor_photo == None %}
                <img src="/static/Images/cast/lupita.jpg" alt="lupita" class="img-fluid">
              {% else %}
                <img src="/static/uploads/actors/{{ movie_actor.actor.actor_photo }}" alt="{{ movie_actor.actor.actor_name }}" class="img-fluid">
               {% endif %}
                <P>{{ movie_actor.actor.actor_name }}</P>
            </div>
            {% endfor %}
          {% endif %}
        </div>
 
        <!--More like this heading-->
          <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <h3 class="sub-heading">More like this</h3>
            </div>
        </div>

        <!--More like this-->
        <div class="row">
            <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/hodg.jpg" class="card-img-top" alt="House of the dragons"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">House Of The Dragon</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">10/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/inside.jpg" class="card-img-top" alt="Inside out"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">Inside Out 2</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">9/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/aco.jpg" class="card-img-top" alt="The Acolyte"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">The Acolyte</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">9/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/viking2.jpg" class="card-img-top" alt="Vikings"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">Vikings</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">8/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>


        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/office.jpg" class="card-img-top" alt="The Office"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">The Office</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">8/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <div class="card card-custom">
            <a href="#"><img src="/static/Images/dispicableme.jpg" class="card-img-top" alt="Despicable Me 4"></a>
            <div class="card-body">
              <a href="#"><p class="card-title mb-2">Despicable Me 4</p></a>
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="card-text mb-0">7/10<i class="fa-solid fa-star"></i></p>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="d-flex flex-column align-items-center">
                <a href="#" class="btn btn-primary mb-2 btn-sm"><i class="fa-solid fa-play"></i> Trailer</a>
                <buttton class="btn btn-outline-primary btn-sm movies"><i class="fa-solid fa-plus"></i> Watchlist</button>
              </div>
            </div>
          </div>
        </div>

        </div>

        <!--Write your own review heading-->
         <div class="row">
            <div class="col-md-6 mt-5">
                <h3 class="sub-heading">My Review & Rating</h3>
            </div>
        </div>

         <!--Write your own review-->
         <div class="row">
            <div class="col-md-9">
              <form  method="post" >

                {{ review.csrf_token }}
                <input type="hidden" value="{{ movies.movie_id }}" id="movie"/>
                {{ review.review(class='form-control mb-2', placeholder='My Review' )}}
                {{ review.submit_review(class='btn btn-primary') }} 

                
              </form>
            </div>
         </div>

         
         <!--all the comments-->
         <div class="row mt-5">
            <div class="col-md-12">
             <div id="reviews-section" >
                <p id="show" ></p>
                 {% if all_reviews %}
                {% for reviews in all_reviews %}
                  <p> {{ reviews.review_content }} {{ reviews.review_date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                {% endfor %}
              {% else %}
                <p class="alert alert-primary"> No Reviews Avaliable </p>
              {% endif %}
             </div>
            </div>
         </div>
{% endblock %}

{% block scripts %}
         <script>
          //this means the user did not rate
            $(document).ready(function(){
              
              $('#submit_review').click(function(event){
                event.preventDefault();
                var review = $('#review').val();
                var movieId = $('#movie').val();
                var csrfToken = $('input[name="csrf_token"]').val();

                $.ajax({
                  url: '/ajax/movie/review/',
                  type:'POST',
                  data: {reviewData:review,movieId:movieId, csrf_token: csrfToken},

                  success: function(resp){
                   $('#show').prepend('<p>' + resp.review_content + ' ' + resp.review_date + '</p>');

                // Optionally, clear the input field
                $('#review').val('');
                  },
                  error: function(err){
                    console.log(err);
                  }
                })
              })
              
             
              // var rating_data = 0
              // $('.myrate').mouseenter(function(){
              //   var rating = $(this).data('rating');

              //   for(var count = 0; count <= rating; count++){
              //     $('#submit_star_'+count ).css('color','gold');
              //   }
              // });

              // $('.myrate').mouseleave(function() {
                  
              //     var defaultColor = ''; 
              //     var rating = $(this).data('rating'); 

              //     for (var count = 0; count <= rating; count++) {
              //         $('#submit_star_' + count).css('color', defaultColor);
              //     }
              // });
            });
         </script>
{% endblock %}
